h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    }

body {
    font-family:'Montserrat', sans-serif; ;
}
h2 {
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: 'Montserrat-bold';
    font-size: 1.5rem;
    font-weight: bold;
}
#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

.doggo {
    transform: rotate(25deg);
    z-index: 1;
    bottom: 3rem;
    position: absolute;
}

/* nav bar */

#navi {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}


/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* features */

#features {
    padding-top: 5rem;
    background-color: white;
    position: relative;
    z-index: 1;
}

p {
    color: #8f8f8f;
}

.featureslist:hover {
    color: #da5a5a
}

.feature-box {
    text-align: center;
    padding: 5%;
}

/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: white;

}

.testimonial-image {
    border-radius: 50%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    height: auto;
    max-width: 100%;
    margin: 20px 20px 50px;
}


/* pricing section*/
#pricing {
    padding: 5rem;
    text-align: center;
}

.price-col {
    padding: 7% 5%;
}

@media (max-width: 1020px) {
    #title {
        text-align: center;
    }

    .doggo {
        position: static;
        transform: rotate(0);
    }
}


/* footer design */
#cta {
    font-family:'Montserrat-bold' ;
    text-align: center;
    background-color: #ff4c68;
    padding: 7rem 7rem;

}

.doglove {
    font-size: 3.6rem;
    color: white;
    
}

#footer {
    text-align: center;
    padding: 7% 15%;
}